<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>User Registration: </h1>
	
	<form action="registration">
		<label>user name :</label>
		<input type="text" name="username"/>
		<br>
		<label>Email :</label>
		<input type="email" name="email"/>
		<br>
		<label>Password :</label>
		<input type="password" name="password"/>
		<br>
		<label>Gender :</label>
		<input type="radio" name="gender" value="male"/>M
		<input type="radio" name="gender" value="female"/>F
		<input type="radio" name="gender" value="others"/>O
		
		<br>
		<label>Role :</label>
		<input type="radio" name="role" value="Admin"/>Admin
		<input type="radio" name="role" value="Customer"/>Customer
		<br>
		<label>address :</label>
		<textarea name="address"></textarea>
		<br>
		<input type="submit"/>
		</form>

</body>
</html>